*
{
    margin: 0;
    padding: 0;
    
    
}


header
{
    
    background-color: black;
    color: white;
    height: 80px;;

    
}
nav{
    display:flex;
    justify-content: space-between;
    
}
h1{
    padding-top: 40px;
    color: rgb(179, 37, 37);
    font-size: 20px;
    font-weight: bolder;
    
}

img{
    height: 80px;
    width: 80px;
    padding-left: 20px;
    border-color: whitesmoke;
    
}
.home{
    margin: 10px;
    padding-top: 30px;
}
.home>a{
    text-decoration: none;
    color: whitesmoke;
    padding-left: 30px;
    padding-right: 20px;
    font-style: italic;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}





section{
    background-image: url(coffeehouse2.jpg);
    background-color:cadetblue;
    height: 500px;
    background-position: center;
    background-size: cover;
    border-radius: 100px;
    

    
}
footer
{
    background-color:black;
    height: 100px;
    text-align: center;
    justify-content: space-evenly;
    color: whitesmoke;
    padding-top: 20px;
    
    
}
.foot>a{
    text-decoration: none;
    color: whitesmoke;
    padding-left: 50px;
    padding-right: 50px;
   
    
}
a:hover
{
    color: red;

}
h1:hover{
    color:whitesmoke;
    
}
.sec
{
    
    padding-top: 50px;  
    padding-bottom: 50px;
     padding-left: 20px;
    color:black;
    
    
    
    
    
}
.sec>img{
    height: 150px;
    width: 160px;
    border-radius: 8px;
    padding:0;
    display: flex;
    flex-wrap: wrap;
    
    
    
    
    
}

